body{
  background-color: #d2d6de;
<<<<<<< HEAD
  overflow: hidden;
=======
  overflow: auto;
}

@media only screen and (max-height: 600px) {
  body {
    overflow: auto;
  }
>>>>>>> e9b3ca8f1f1c7449f83baa4f13838ca7683cb7ea
}