body{
  background-color: #d2d6de;
  overflow: hidden;
  overflow: auto;
}

@media only screen and (max-height: 600px) {
  body {
    overflow: auto;
  }
}

.colorRed{
  color: red;
}

.red-bold
{
  border: 1px solid red;
}

.fontBold{
  font-weight: bolder;
}

.hide-pin-div{
  display: none;
}

.show-otp{
  display: block;
}
.hide-otp{
  display: none;
}